{% extends 'base.html' %}
   {% load static %}
   {% block content %}
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Projects</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
        <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
          {% for i in projects %}
          <div class="portfolioCard">
          <div class="row g-4 align-items-center">
            <div class="col-md-auto">
              <div class="portfolioImgCol">
                  {% if i.url %}
                <a href="{{ i.url }}"><img src="{{ i.image.url }}" alt="..."></a>
                  {% else %}
                  <img src="{{ i.image.url }}" alt="...">
                  {% endif %}
              </div>
            </div>
            <div class="col-md">
              <div class="portfolioContentCol">
                <h4 class="lgTitle"><a href="{{ i.url }}">{{i.title}}</a></h4>
                <p>{{i.description}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
  </section>
    <!-- ================================
    End Content
    ================================= -->

{% endblock %}